{% extends "kilvin::cp._simple" %}

{% set page_name = 'Request Reset Password Link' %}

{% block mainContent %}

	<div class="loginBox">
		<div class="leftPad">
			<h1>{{page_name}}</h1>

			<form action="{{ kilvinCpUrl('forgot_password_send')}} " method="post" class="cp-form">
				{{ csrfField() }}
				<input type="hidden" name="return_path" value="admin.php">

				{% if errors.any %}
					<div class="cp-form-message cp-form-error">
					    {% for error in errors.all %}
					        <p>{{ error }}</p>
					    {% endfor %}
					</div>
				{% endif %}

				{% if Session.has('status') %}
					<div class="cp-form-message">
					     {{ Session.get('status') }}
					</div>
				{% endif %}

				<div class="default"><label for="email">Email Address</label></div>
				<div class="default">Enter the email address you used to sign up for your account.</div>

				<div class="littlePadding">
					<input style="width:200px" type="email" name="email" id="email" value="" required autofocus>
				</div>

                <div class="littlePadding">
					<input type="submit" value="Send Password Reset Link">
				</div>
            </form>
		</div>
	</div>
{% endblock %}
