

{% extends "kilvin::cp._simple" %}

{% set page_name = 'Reset My Password' %}

{% block mainContent %}

    <div class="loginBox">
        <div class="leftPad">
            <h1>{{page_name}}</h1>

            <form action="{{ kilvinCpUrl('reset_password_send') }}" method="post" class="cp-form">
                {{ csrfField() }}
                <input type="hidden" name="token" value="{{ token }}">

                {% if errors.any %}
                    <div class="cp-form-message cp-form-error">
                        {% for error in errors.all %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if session('status') %}
                    <div class="cp-form-message">
                         {{ session('status') }}
                    </div>
                {% endif %}

                <div class="default"><label for="email">Email Address</label></div>
                <div class="default">Enter the email address you used to sign up for your account.</div>

                <div class="littlePadding">
                    <input id="email" type="email" style="width:200px" name="email" value="{{ email }}" required autofocus>
                </div>

                <br>


                <div class="default"><label for="password">Password</label></div>
                <div class="default">Your new password!</div>

                <div class="littlePadding">
                    <input id="password" type="password" style="width:200px" name="password" required>
                </div>


                <div class="default"><label for="password-confirm">Confirm Password</label></div>
                <div class="default">Enter your new password one more time to confirm.</div>

                <div class="littlePadding">
                    <input id="password-confirm" type="password" style="width:200px" name="password_confirmation" required>
                </div>


                <div class="littlePadding">
                    <input type="submit" value="Reset Password">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

