.docs-wrapper {
	overflow: hidden;
	max-width: 1080px;
	margin: -10px auto;


	.docs-sidebar {
		border-right: 1px solid #f0f2f1;
		width: 250px;
		float: left;
		padding: 35px;
	}
	
	.docs-main {
		padding: 25px 125px 50px 50px;
		margin-left: 300px;
	}
}

