.docs-wrapper {
	overflow: hidden;
	max-width: 1030px;
	margin: -10px auto;
	
	p {
		font-size: 13px;
		line-height: 1.9;
		margin: 10px 0 10px;
		color: rgb(82, 82, 82);
		font-family: sans-serif;
	}


	.docs-sidebar {
		border-right: 1px solid #f0f2f1;
		width: 200px;
		float: left;
		padding: 15px;
		
		h2 {
			position: relative;
			font-size: 14px;
			font-weight: 400;
			padding: 0.5rem 0.5rem 0.5rem 0;
			margin: 0;
			cursor: pointer;
			-webkit-transition: color 0.1s linear;
			transition: color 0.1s linear;
			border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
		}
		
		> ul {
		list-style: none;
		padding: 0;
		margin: 0;

			ul {
				list-style: none;
				margin: 0.5rem 0 0;
				padding: 0;
				font-size: 13px;
				padding-left: 0.75rem;
			}
		}
	}
	
	.docs-main {
		padding: 15px 25px 40px 15px;
		margin-left: 250px;
		
		h1 {
			font-size: 36px;
		}
		
		h2 {
			font-size: 28px;
			font-weight: 400;
			margin-top: 30px;
			margin-bottom: 5px;
			position: relative;
			
			&:first-of-type {
				margin-top: 15px;
			}
		}
		
		h3 {
			font-size: 20px;
			font-weight: 400;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		
		h1 + ul {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 14px;
			font-weight: bold;
			line-height: 1.8;
			padding-bottom: 50px;
			border-bottom: 1px solid #f0f2f1;
			-webkit-font-smoothing: antialiased;
			
			li {
				margin: 0 0 0 8px;
				line-height: 1.3;
			}
			
			li:before {
			  content: "# ";
			  margin-right: .25em;
			  color: #000;
			  opacity: .3;
			}
		}

		ul li {
			margin: 4px 0;
			line-height: 1.5;
			
			&:last-child {
				margin-bottom: 0px;
			}
		}
		
		blockquote {
			background: #f4645f;
			color: #fff;
			border-radius: 3px;
			margin: 10px 0 20px;
			padding: 10px 15px;
		}
		
		table {
			border-collapse: collapse;
			width: 100%;
			font-size: 13px;
			
			th {
				font-size: 14px;
			}
			
			th, td {
				border: 1px solid #dee0df;
				padding: 10px;
				text-align: left;
			}
		}
				
		/**
		 * prism.js default theme for JavaScript, CSS and HTML
		 * Based on dabblet (http://dabblet.com)
		 * @author Lea Verou
		 */

		.docs article code[class*="language-"],
		.docs article pre[class*="language-"] {
		  font-size: 12px;
		  line-height: 2.0;
		  vertical-align: middle;
		}

		code[class*="language-"],
		pre[class*="language-"] {
		  color: black;
		  text-shadow: 0 1px white;
		  font-family: "Operator Mono", "Fira Code", Consolas, Monaco, "Andale Mono", monospace;
		  direction: ltr;
		  text-align: left;
		  white-space: pre;
		  word-spacing: normal;
		  word-break: normal;
		  line-height: 1.7;
		  font-size: 12px;
		  -moz-tab-size: 4;
		  -o-tab-size: 4;
		  tab-size: 4;
		  -webkit-hyphens: none;
		  -ms-hyphens: none;
		  hyphens: none;
		}

		pre[class*="language-"]::-moz-selection,
		pre[class*="language-"] ::-moz-selection,
		code[class*="language-"]::-moz-selection,
		code[class*="language-"] ::-moz-selection {
		  text-shadow: none;
		  background: #b3d4fc;
		}

		pre[class*="language-"]::selection,
		pre[class*="language-"] ::selection,
		code[class*="language-"]::selection,
		code[class*="language-"] ::selection {
		  text-shadow: none;
		  background: #b3d4fc;
		}

		@media print {
		  code[class*="language-"],
		  pre[class*="language-"] {
			text-shadow: none;
		  }
		}

		/* Code blocks */

		pre[class*="language-"] {
		  padding: 1em;
		  margin: 10px 0 20px;
		  overflow: auto;
		}

		:not(pre) > code[class*="language-"],
		pre[class*="language-"] {
		  background: rgba(238, 238, 238, 0.35);
		  border-radius: 3px;
		  padding: 10px;
		  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
				  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
		}

		/* Inline code */

		:not(pre) > code[class*="language-"] {
		  background: #f0f2f1;
		  color: #f4645f;
		  padding: 1px 5px;
		  border-radius: 3px;
		}
	}
}

