
.templateFolder {
	margin-bottom: 10px;
}

.templateAreaBox {
	background: #fff;
	padding: 0px;
	border: $table-border-color 1px solid;
	margin: 0;
	background-color: $table-row-odd-background-color;
}

.templateBorderBox
{
	border: $table-border-color 1px solid;
}
