

{% extends "kilvin::installer._page" %}

{% block mainContent %}
	<h1>Unable to Install {{ constant('CMS_NAME') }}</h1>

    <p>Below is a list of the problems we discovered when we ran our installation tests.
        If you have questions, please refer to the
        <a href="https://arliden.com/docs">documentation</a>
        or
        <a href="https://arliden.com/support">contact support</a>.
    </p>

    <h2 class="error">Errors</h2>

    <ul class="errorsList">
        {% for error in errors %}
            <li>
                <h3>{{error[0]}}</h3>

                <p>{{error[1] | raw}}</p>

            </li>
        {% endfor %}
    </ul>


{% endblock %}
