

{% extends "kilvin::installer._page" %}

{% block mainContent %}
	<h1>Kilvin CMS Installer</h1>

    <h2>Installation Instructions</h2>

    <p>Before proceeding please take a moment to read the
     <a href="https://artificery.github.io/kilvin/">installation instructions</a>
     if you have not done so already. If you have questions or problems, please visit our <a href="https://kilvincms.com/support/">Support</a> page for assistance.</p>

    <div class="warning red">
        <p>
            <strong>Important:</strong> Do <strong>NOT</strong> run this installation routine if you are already using Kilvin CMS and are updating to a newer version. You'll find update instructions in the
            <a href="https://artificery.github.io/kilvin/">documentation</a>.
        </p>
    </div>

   <p class="center"><a href="/installer/form" class="btn btn-primary">Install Kilvin CMS!</a>
{% endblock %}
